html,
body {
    --back-color: wheat;
    --font-color: black;
    font-family: 'Lato', sans-serif;
}

body {
    text-align: center;
    background: var(--back-color);
    color: var(--font-color);
}

.number-input {
    width: 70px;
}

.logo {
    height: 150px;
}

.control-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    max-width: 500px;
    margin: auto;
}

#plotly-canvas {
    max-width: 800px;
    margin: 1rem auto;
}

.primary-button {
    background: none;
    border: 1px solid var(--font-color);
}

.primary-button:hover {
    background: var(--font-color);
    color: var(--back-color);
}
